body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.banner{
    background-image: url("img/fundo.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
    height: 500px;
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    background-color:rgba(255,255,255,0.8);
    justify-content: space-between;
    
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-right: 25px;
}

.menu ul li a{
    color:#171796;
}

.menu img{
    width: 6vw; /* vw: viewport width */
    margin-right: 10px;
    padding: 5px;
}

.menu a{
    text-decoration: none;
    font-size: 12pt;
    color: black;
    }

.text h2, .text p{
    padding: 10px;
    margin: 20px 10px 0px 10px; /* top right bottom left */
    color: #395c93;

}
.text p{
    font-family: 'Quicksand', sans-serif;
}

.como-fazer{
    font-size: 11pt;
    font-family: 'Quicksand', sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 25px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    height: 200px;
}

.tutorial{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
}

.item{
    width: 33%;
    text-align: center;
    margin-top: 30px;
    font-size: 11pt;
    font-family: 'Quicksand', sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
    }

.item img{
    width: 80px;
    height: 80px;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: black;
}

.rodape button{
    background-color: midnightblue;
    color: white;
    font-size: 12pt; 
    padding: 12px;
    border: none;
}

.rodape button:hover{
    background-color: blueviolet;
}

