body{
    margin: 0;
    background-color: darkgrey;
    font-family: 'Montserrat', sans-serif;
}

h1, h2{
    color: fuchsia;
    text-align: center;
    font-weight: 800;
}

p{
    margin-left: 10px;
}

button{
    border: solid blue 2px;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
    color: blue;




}